.favorites-wrapper {
  flex-direction: column;
  display: flex;
}

.favorites {
   
        margin-top: 20px;
        display: flex;
        grid-gap: 25px;
        gap: 25px;
        margin-bottom: 30px;
        justify-content: center;
        flex-wrap: wrap;
    
}


.items {
  margin-top: 20px;
  display: flex;
  gap: 25px;
  margin-bottom: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

.loading {
  font-size: 40px;
  text-transform: uppercase;
  color: #fff;
}

.favorites-title {
  color: white;
  font-weight: 700;
  text-align: center;
}

.search-favorites input {
width: 600px;
  padding-left: 5px;

  padding-top: 10px;
  padding-right: 50px;
  padding-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin: auto;
}


.searchButton {
  background-color: rgb(223, 77, 196);
  padding: 10px 50px;
  color: #fff;
  font-size: 16px;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 2%);
  border-radius: 4px;
  border-color: rgb(223, 77, 196);
  cursor: pointer;
  margin: auto;
}

.faves-search-background {
  /* background-image: url("/images/faves-background.png"); */
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  border-radius: 5px;
  width: inherit;
  padding-top: 100px;
  margin-top: 67px;
}
.favorites-input-and-button {
    margin: auto;

}

.homepage-title {
  color: rgb(255, 255, 255);
  font-weight: 700;
  text-align: center;
}

.title-input-container {
  margin: auto;
}

.inputHome{
  margin: auto;
}

.example {
  position: relative;
  padding: 0;
  width: 300px;
  display: block;
  cursor: pointer;
  overflow: hidden;
}
.content {
  opacity: 0;
  font-size: 40px;
  position: absolute;
  top: 0;
  left: 0;
  color: rgb(244, 21, 218);
  background-color: rgba(200, 200, 200, 0.5);
  width: 300px;
  height: 300px;
  -webkit-transition: all 400ms ease-out;
  -moz-transition: all 400ms ease-out;
  -o-transition: all 400ms ease-out;
  -ms-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
  text-align: center;
}
.example .content:hover {
  opacity: 1;
}
.example .content .text {
  height: 0;
  opacity: 1;
  transition-delay: 0s;
  transition-duration: 0.4s;
}
.example .content:hover .text {
  opacity: 1;
  transform: translateY( 100px);
  -webkit-transform: translateY(100px);
}

@media (max-width: 552px) {
  
  #favoritesButton {

      padding-right: 60px;
      
      position: absolute;
      right: 59px;
      text-align: center;
  }
}

@media (max-width: 380px) {
  
  #favoritesButton {

      padding-right: 60px;
      
      position: absolute;
      right: 52px;
      text-align: center;
  }
}

@media (max-width: 375px) {
#socialLinks {
  display: none;

}

#homeButton {
position: absolute;
top: 7px;
right: 115px;
}

}