.favorites-wrapper {
    flex-direction: column;
    display: flex;
}

.favorites {
    overflow: auto;
    margin-bottom: 30px;
    margin-top: 20px;
    display: flex;
    grid-gap: 25px;
    gap: 25px;
    margin-bottom: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

.items {
    margin-top: 20px;
    display: flex;
    gap: 25px;
    margin-bottom: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

.loading {
    font-size: 40px;
    text-transform: uppercase;
    color: #fff;
}

.favorites-title {
    color: #fa6400;
    font-weight: 700;
    
}