.favorites-wrapper {
    flex-direction: column;
    display: flex;
}

.favorites {
    grid-gap: 25px;
    display: flex;
    gap: 25px;
    margin-bottom: 30px;
    justify-content: center;
    flex-wrap: nowrap;
    overflow-x: scroll;
    margin-top: 30px;
}

.items {
    margin-top: 20px;
    display: flex;
    gap: 25px;
    margin-bottom: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

.loading {
    font-size: 40px;
    text-transform: uppercase;
    color: rgb(223, 77, 196);
}

.search-favorites input {
    padding-left: 5px;
    margin-bottom: 30px;
    padding-top: 10px;
    padding-right: 50px;
    padding-bottom: 10px;
    margin: auto;
}

::placeholder {
    color: grey;
    font-weight: bold;
}

.searchButton {
    background-color: rgb(223, 77, 196);
    padding: 10px 50px;
    color: #fff;
    font-size: 16px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 2%);
    border-radius: 4px;
    border-color: rgb(223, 77, 196);
    cursor: pointer;
    margin-left: 20px;

}

.favoritesButton {
    background-color: rgb(223, 77, 196);
    padding: 10px 50px;
    color: #fff;
    font-size: 16px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 2%);
    border-radius: 4px;
    border-color: rgb(223, 77, 196);
    cursor: pointer;
    margin-left: 20px;
    text-align: right;
    position: absolute;
    top: 7px;
    right: 7px;


}

.my-favorite-recipes-button-container {
    max-width: 50%;
}


.socialLinks {
    text-decoration: none !important;
    margin-left: 10px;
    position: absolute;
    top: 7px;
    left: 7px;
    float: left;
    max-width: 50%;

}

.icons {
    padding-right: 10px;
}

.searchbarBackground {
    background-image: url("homepageSearchBackground.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    border-radius: 5px;
    width: inherit;
    padding-top: 100px;
    margin-top: 67px;
}

.homepage-title {
    color: rgb(255, 255, 255);
    font-weight: 700;


}

.title-input-container {
    margin: auto;
    max-width: 70%;
}


@media (max-width: 1265px) {

    .my-favorite-recipes-button-container {
        display: inline-block;
        width: 100%;
        margin-bottom: 30px;
    }

    .socialLinks {
        display: inline-block;
        width: 100%;
        margin-bottom: 80px;
    }

    .home-input {
        padding-right: 100px;
    }

}

@media (max-width: 1087px) {
    #home-input {
        padding-right: 400px;
    }
}

@media (max-width: 821px) {
    #home-input {
        padding-right: 357px;
    }

    #home-input ::placeholder {
        display: none;

    }

    .title-input-container {
        max-width: 80%;
    }

    .Search button {
        padding: 10px 32px;
    }
}

@media (max-width: 552px) {
    #home-input {
        padding-right: 100px;
    }

}